<h1 align="center">Welcome to <%= @user.username %>'s page</h1>

 <%= will_paginate @user_posts %>
	
<h4 align="center"><%= @user.username %>'s posts</h4>
 <%= render "posts/post", obj: @user.posts %>

 <%= will_paginate @user_posts %>